<li>
    <p>

        <% if(locals.user && (comment.user.id==locals.user.id || post.user.id==locals.user.id)){ %>
            <small><a href="/comments/delete-comment/<%= comment.id%>">X</a></small>
        <% } %>

        <%= comment.content%>
        
        <small>
            By: <%= comment.user.name %>
        </small>

        &nbsp
        <% if(locals.user){ %>
            <a href="/likes/toggleLike?id=<%= comment.id %>&type=Comment"><%= comment.likes.length %>&nbsp; likes</i></a>
        <% } else{ %>
            <p><%= post.likes.length %> likes</p>
        <% } %>
    </p>
</li>