<title><%= title %></title>
<link rel="stylesheet" href="/css/home.css">


<div id="home-container">

    <section id="feed-posts">
   
        <% if(locals.user){ %>
            <h4>Create Post</h4>
            <form action="/posts/create-post" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here"></textarea>
                <br>
                <input type="submit" value="Post">
            </form>
        <% } %>


        <div id="posts">
            <h4>All Posts:</h4>
            <ul style="list-style-type: none;">
                <% for(post of locals.posts){ %>
                    
                    <%- include('_posts.ejs') %>

                <% } %>
            </ul>
        </div>


    </section>

    <section id="user-friends">
    <h4>Friends:</h4>

    <% for(_user of locals.allUsers){ %>
        <p>
            <a href="/users/profile/<%= _user.id %>"><%= _user.name %></a>
        </p>
    <% } %>
    </section>
</div>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/js/chat_engine.js"></script>
<script>
    <% if(locals.user){ %> //available for logged in users only
        new ChatEngine('chat_box', '<%= locals.user.email %>')
    <% } %>
</script>