<link rel="stylesheet" href="/css/user_profile.css">
<title><%= title %></title>
<h1>Codeial / Profile Page</h1>

<p><%= user.name%></p>
<p><%= user.email%></p>
<p><%= locals.user.name%></p>
<p><%= locals.user.email%></p>
